.app {
	text-align: center;
}

.new-game-button {
	margin: 0px;
	margin-top: 15px;
	font-size: 25px;
	background-color: rgb(80, 31, 127);
	color: white;
	border-radius: 4px;
	box-shadow: 0px 0px 2px #030303;
}
